<mat-card>
    <h1>Actualizar proveedor</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit) = "onSubmit()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input  required type="text" autofocus name="name" [(ngModel)]="proveedor.name" matInput placeholder="Digite el nombre del proveedor">
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input  required type="text" autofocus name="email" [(ngModel)]="proveedor.email" matInput placeholder="Digite el email del proveedor">
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input  required type="text" autofocus name="telephone" [(ngModel)]="proveedor.telephone" matInput placeholder="Digite el telefono del proveedor">
                        </mat-form-field>
                        <div clas="container text-center mt10">
                            <button type="submit" mat-raised-button color="primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>


